body {
	background-color: #FFFFFF;
}

header {
	background-color: black;
	width: 100%;
	height: 100px;
}

img {
	display: inline-block;
}

#resize {
	position: fixed;
	top:22px;
	right:10px;
}

h1 {
	padding-top: 25px;
	font-family: helvetica;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	color: #ccffff;
}


h2 {
	font-family: helvetica;
	color: "black";
	font-weight: 300;
	background-color: #ccffff;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h4 {
	font-family: "Helvetica";
	font-weight: 350;
}

article {
	font-family: "Arial";
}

a:visited {
	color: black;
}

.bigfont {
	font-size: 20px;
}
